{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <!-- begin col-6 -->
    <div class="col-md-6">
        {% embed 'AppBundle::_partials/panel.html.twig' with {'title': 'profile.user.title'} %}
            {% block panel_content %}
                <form   action="#{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST"
                        class="fos_user_profile_edit form-horizontal form-bordered" data-parsley-validate="true" name="demo-form">
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <input type="submit" class="btn btn-theme center-block" value="{{ 'form.profile.edit.submit'|trans }}" />
                        </div>
                    </div>
                </form>
            {% endblock %}
        {% endembed %}
    </div>
    <!-- end col-6 -->
    <!-- begin col-6 -->
    <div class="col-md-6">
        {% embed 'AppBundle::_partials/panel.html.twig' with {'title': 'profile.gravatar.title'} %}
            {% block panel_content %}
                <div class="panel-body">
                    <div class="media media-lg">
                        <a class="media-left">
                            <img class="media-left" src="" alt="gravatar" data-ajaxload-gravatar="250">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{ 'profile.gravatar.label'|trans }}</h4>
                            {{ 'profile.gravatar.desc'|trans|nl2br }}
                            <p class="m-t-20">
                                <a href="https://gravatar.com/" target="_blank" class="btn btn-theme">
                                    {{ 'profile.gravatar.go'|trans }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
        {% embed 'AppBundle::_partials/panel.html.twig' with {'title': 'profile.background.title'} %}
            {% block panel_content %}
                <div class="panel-body">
                    <img src="" class="img-responsive" data-ajaxload-user="bg-image"/>
                </div>
            {% endblock %}
        {% endembed %}

    </div>
    <!-- end col-6 -->
</div>s