{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }}
      method="POST" class="fos_user_registration_register">
    <div class="form-group">
        {{ form_widget(form.email, {'attr': {'placeholder': 'form.email'|trans({}, 'messages')}}) }}
        <div class="m-t-15 text-danger">
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_widget(form.username, {'attr': {'placeholder': 'form.username'|trans({}, 'messages')}}) }}
        <div class="m-t-15 text-danger">
            {{ form_errors(form.username) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'form.new_password'|trans({}, 'messages')}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'form.new_password_confirmation'|trans({}, 'messages')}}) }}
    </div>
    <div class="m-b-15 text-danger">
        {{ form_errors(form.plainPassword.first) }}
    </div>
    {{ form_widget(form._token) }}
    <div>
        <input  class="btn btn-theme btn-block btn-lg"
                type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    <div class="m-t-20">
        {{'already_member'|trans({'%login_link%': url('fos_user_security_login')}, 'messages')|raw }}
    </div>
</form>
