<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="#"><img src="" alt="gravatar" data-ajaxload-gravatar="80"></a>
                </div>
                <div class="info">
                    <span data-ajaxload-user="fullname"></span>
                    <small>
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                            {{ 'sidebar.superadmin'|trans }}
                        {% elseif is_granted("ROLE_ADMIN") %}
                            {{ 'sidebar.admin'|trans }}
                        {% else %}
                            {{ 'sidebar.user'|trans }}
                        {% endif %}
                    </small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">{{ 'sidebar.navigation'|trans }}</li>
            <li class="has-sub" data-parentid="dash">
                <a href="#">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>{{ 'sidebar.dashboard.label'|trans }}</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" data-toggle="ajax">{{ 'sidebar.dashboard.trends_day'|trans }}</a></li>
                    <li><a href="#" data-toggle="ajax">{{ 'sidebar.dashboard.trends_month'|trans }}</a></li>
                    <li><a href="#" data-toggle="ajax">{{ 'sidebar.dashboard.trends_year'|trans }}</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="#">
                    <span class="badge pull-right">10</span>
                    <i class="fa fa-inbox"></i>
                    <span>{{ 'sidebar.messages.label'|trans }}</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#" data-toggle="ajax">{{ 'sidebar.messages.inbox'|trans }}</a></li>
                    <li><a href="#" data-toggle="ajax">{{ 'sidebar.messages.compose'|trans }}</a></li>
                    <li><a href="#" data-toggle="ajax">{{ 'sidebar.messages.sent'|trans }}</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="#">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-user"></i>
                    <span>{{ 'sidebar.account.label'|trans }}</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#{{ path('fos_user_profile_edit') }}" data-toggle="ajax">{{ 'sidebar.account.profile'|trans }}</a></li>
                    <li><a href="#" data-toggle="ajax">{{ 'sidebar.account.notifications' }}</a></li>
                    <li><a href="#" data-toggle="ajax">{{ 'sidebar.account.security' }}</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="#">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-file-o"></i>
                    <span>{{ 'sidebar.social.label'|trans }}</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#{{ path('wall') }}" data-toggle="ajax">{{ 'sidebar.social.wall'|trans }}</a></li>
                    <li><a href="#" data-toggle="ajax">{{ 'sidebar.social.friends' }}</a></li>
                </ul>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="#" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
            </ul>
        <!-- end sidebar nav -->
        </div>
    <!-- end sidebar scrollbar -->
    </div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->